.crypto-row {
    margin: auto;
    /*min-width: 300px;*/
    /*max-width: 480px;*/
    border: 2px solid #436fb4;
    /*background: #040c15;*/
    border-radius: 5px!important;
}
.padding0 {
    padding:0;
}
.img-avatar{
    width:100%;
    border: 1px solid #436fb4;
}
#player_name{
    font-size:24px;
    /*color:white;*/
    font-family: monospace;
}
.span-label{
    white-space: nowrap;xoverflow: hidden;text-overflow: ellipsis;display: inline-block;
    font-size:20px;
    /*color:white;*/
}
.crypto-input {
    background: transparent;
    /*color: white;*/
    text-align: right;
}
.margin0{
    margin:0!important;
}
.white-color {
    /*color:white!important;*/
}
.input-cell {
    padding-left: 10px!important;
    border: 1px solid #434234!important;
    /*border-bottom: 2px solid white!important;*/
}